html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  
}

* {
  box-sizing: border-box;
  font-family: 'Padauk', sans-serif!important;
  padding: 0;
  margin: 0;
}



.row_posters {
  display: flex;
  overflow-x: scroll;
  padding: 10px;
  width:100vw
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.row_poster {
  cursor: pointer;
  height: 100px;
  margin-right: 10px;
}

.row_poster:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.row_posterLarge {
  height: 200px;
}

.row_posterLarge:hover {
  transform: scale(1.11);
  transition: 0.5s;
}

::-webkit-scrollbar{
  display: none;
}

.search_card{
  cursor: pointer;
}

.search_card:hover{
  transform: scale(0.95);
  transition: 0.5s;
}